// color
$blue: rgb(120, 214, 214);
$light-blue: rgb(66.3%, 87.1%, 96%);
$black: rgb(47.2%, 47%, 47%);
$orange: #F7931E;

// size
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;

// margin
$s-margin: 15px;
$m-margin: 20px;
$l-margin: 40px 20px; 
$set-margin: 0 0 5px 20px;